.nav{
    width: 1060px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
}

.nav a{
    background: #371943;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.nav a:hover{
    background: rgba(255, 0, 0, 0.44);
    transition: 0.4s;
}

.basketIcon{
    width: 23px;
    color: white;
}

.basket{
    position: relative;

}

.countBasket{
    position: absolute;
    top: -7px;
    left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #000;
    text-align: center;
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    background-color: #fff;
    border: 2px solid #371943;
    border-radius: 50%;
}

.sumBasket{
    color: white;

    padding-left: 20px;
}

.spanHelper{
    position: relative;
}